[Unit]
Description=Soundbase Service
After=multi-user.target

[Service]
User=pi
Type=idle
WorkingDirectory=/home/pi/soundbase/
ExecStart=/home/pi/soundbase/target/release/soundbase /mnt/data/.soundbase.db

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target