[Unit]
Description=Soundbase Service
After=multi-user.target

[Service]
User=pi
Type=idle
WorkingDirectory=/home/pi/soundbase/
Environment="CLIENT_ID=<client>"
Environment="CLIENT_SECRET=<secret>"
Environment="REDIRECT_URI=http://philly.local:3333/spotify/auth_callback"
ExecStart=/home/pi/soundbase/target/release/soundbase /mnt/data/.soundbase.db

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target